.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal__content {
  width: 50rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
}

.modal__header {
  position: static;
}

.modal__header > * {
  padding: 1rem;
}

.modal__logo {
  padding-bottom: 0.5rem;
}

.modal__body {
  padding: 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  /* display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.modal__footer {
  padding: 1rem;
}
