.header {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
  padding: 2rem;
  padding-bottom: 1rem;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}
